* {
    font-family: 'Anton', sans-serif;
    font-family: 'Paytone One', sans-serif;
}

h5.pl-4{
    margin: 0 0 0 1.5rem;
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: 700;
    line-height: 0.5;
}

.nav-link{
    color: #000;
    font-weight: 500;
}